.container{
  background-color: green;
  height: 250px;
  width:500px;
  margin-top: 200px;
  margin-left: 500px; 
  position: relative;   
}
.square{
  width: 250px;
  height: 250px;
  border: 1px solid white;
  background-color: white;
  border-radius:200px;
  margin-bottom: 200px;
  margin-left: 120px;
  margin-top: -100px;
  border-top: 0cm;
  position: absolute;
   
      
  
}
.roundcontainer{
  background-color: orange;
  height: 180px;
  width: 180px;
  position:absolute ;   
  border-radius: 200px;
  border: 1px solid white;
  margin-top: 30px;
  margin-left: 35px;
  
}